h1{
    text-align: center;
    text-shadow: 2px 2px 29px;
    background-color: hsl(19, 61%, 26%);
    color: bisque;
}
#main{
    text-align: center;
    border: 2px solid greenyellow;
    margin: 5px;
    padding: 10px 10px ;

}
button{
    text-align: center;
    padding: 5px 15px;
    background-color: rgba(70, 220, 93, 0.584);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(45, 199, 45);
}
#DieResults{
    color: hsl(18, 61%, 18%);
    font-size: 2rem;
    font-weight: bold;
}